.chart div {
    background-color: steelblue;
    text-align: right;
    color: white;
    padding: 3px;
    margin: 1px;
    font: 10px sans-serif;
}

.chart_svg rect {
    fill: steelblue;
}

.chart_svg text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}