@import "home/bar-chart.css";
@import "home/basic.css";
@import "home/hist.css";
@import "home/bar_dimple_in_d3.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}